hex/src/main/resources/informations/save.dtd

<!ELEMENT save (data, board) >
<!ELEMENT data (computer?, current) >
<!ELEMENT computer EMPTY>
<!ELEMENT current (#PCDATA)>
<!ELEMENT board (row+) >
<!ELEMENT row (cell+) >
<!ELEMENT cell (#PCDATA) >


<!ATTLIST player mode (human | computer) #REQUIRED>
<!ATTLIST computer level (EASY | MEDIUM | HARD) #REQUIRED>