hex/src/main/resources/informations/save.dtd

<!ELEMENT save (data, board) >
<!ELEMENT data (computer?, current, end) >
<!ELEMENT computer EMPTY>
<!ELEMENT current (#PCDATA)>
<!ELEMENT end (#PCDATA)>
<!ELEMENT board (row+) >
<!ELEMENT row (cell+) >
<!ELEMENT cell (#PCDATA) >
<!ATTLIST player mode (human | computer) #REQUIRED>
<!ATTLIST computer level (EASY | MEDIUM | HARD) #REQUIRED>
<!ELEMENT abscissa (#PCDATA) >
<!ELEMENT ordinate (#PCDATA) >